<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @song.album %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @song.image_url %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<p>
  <strong>Key:</strong>
  <%= @song.key %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @song.mode %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @song.sales %>
</p>

<p>
  <strong>Streams:</strong>
  <%= @song.streams %>
</p>

<p>
  <strong>Bpm:</strong>
  <%= @song.bpm %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @song.credits %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @song.structure %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
